@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", serif;
}

.nav {
  width: 100%;
  background: rgba(255, 252, 252, 0.22);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.7px);
  -webkit-backdrop-filter: blur(4.7px);
  transition: all 0.3s ease-in-out;
}

.nav-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.2px;
}

.nav-list {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
  list-style-type: none;
}

.nav-item {
  font-size: 1.7rem;
  cursor: pointer;
}
.nav-item-t {
  font-size: 1.7rem;
  cursor: pointer;
}
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 350px;
  height: 100%;
  z-index: 200;
  background-color: #f9f8f8;
  overflow-y: auto;
  transition: 0.5s all ease-in-out;
  -webkit-transition: 0.5s all ease-in-out;
  -moz-transition: 0.5s all ease-in-out;
  -ms-transition: 0.5s all ease-in-out;
  -o-transition: 0.5s all ease-in-out;
  transform: translateX(110%);
  -webkit-transform: translateX(110%);
  -moz-transform: translateX(110%);
  -ms-transform: translateX(110%);
  -o-transform: translateX(110%);
}
.sidebar.open {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}
.sidebar-logo-contain {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  align-items: center;
}
.logo-sidebar {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.2px;
  visibility: hidden;
}
.toggle-sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 2rem;
  cursor: pointer;
}
.sidebar-list {
  display: flex;
  justify-content: start;
  align-items: start;
  list-style-type: none;
  padding: 2rem 1rem;
  flex-direction: column;
  gap: 0.5rem;
}
.sidebar-item {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  padding: 1rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  background-color: #eeeeee;
  -o-border-radius: 5px;
  cursor: pointer;
  gap: 2rem;
}

.s-i-l {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  color: #008cff;
}
.s-t-l {
  font-size: 1rem;
  font-weight: 500;
}
@media only screen and (max-width: 768px) {
  .nav-item {
    display: none;
  }
  .logo {
    font-size: 1.2rem;
  }
  .logo-sidebar {
    font-size: 1.2rem;
  }
  .nav-inner {
    padding: 1rem 1.5rem;
  }
  .logo-sidebar {
    visibility: visible;
  }
  .sidebar {
    width: 100%;
  }
  .sidebar-item {
    gap: 1rem;
  }
  .s-i-l {
    font-size: 1.5rem;
  }
  .s-t-l {
    font-size: 0.8rem;
  }
}
// Home Page Contain
.n-container {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  justify-self: center;
  align-self: center;
  width: 90%;
  padding: 2rem;
}
.news-card-contain {
  background: linear-gradient(45deg, #008cff, #ffffff);
  width: 300px;
  border-radius: 5px;
  overflow: hidden;
  height: 250px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.n-overlay-cont {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.575);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 1rem;
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 0.5rem;
  flex-direction: column;
}
.n-overlay-cont h3 {
  font-size: 1rem;
  font-weight: 700;
}
.n-overlay-cont p {
  font-size: 0.9rem;
}
.n-overlay-cont a {
  display: flex;
  justify-content: start;
  align-items: start;
  text-decoration: none;
  color: #eeeeee;
  background-color: #0044ff;
  padding: 5px 16px;
  border: none;
  outline: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
@media only screen and (max-width: 768px) {
  .n-container {
    gap: 0.5rem;
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .news-card-contain {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .n-overlay-cont {
    padding-bottom: 2rem;
  }
}
// Search Dialogue
#dialog-search-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0044ff;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}
#dialog-box {
  width: 900px;
  height: 400px;
  overflow: hidden;
  border: 2px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.625);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.5px);
  -webkit-backdrop-filter: blur(11.5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
#dialog-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.search-form input {
  border: none;
  background-color: #a200ff;
  color: #fff;
  outline: none;
  font-size: 1rem;
  padding: 10px 2rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.search-form input::placeholder {
  color: #fff;
}
.search-form button {
  border: none;
  outline: none;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  color: #a200ff;
}

#dialog-header img {
  width: 300px;
  height: 300px;
}
@media only screen and (max-width: 950px) {
  #dialog-content{
    flex-direction: column;
  }
  #dialog-box{
    width: 100%;
    height: fit-content;
    padding: 2rem;
    margin: 2rem;
  }
  #dialog-header img{
    width: 150px;
    height: 150px;
  }
  .search-form{
    gap: 0.5rem;
  }
  .search-form input{
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
  }
}
