@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", serif;
}

.nav {
  width: 100%;
  background: rgba(255, 252, 252, 0.22);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.7px);
  -webkit-backdrop-filter: blur(4.7px);
  transition: all 0.3s ease-in-out;
}

.nav-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.2px;
}

.nav-list {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
  list-style-type: none;
}

.nav-item {
  font-size: 1.7rem;
  cursor: pointer;
}

.nav-item-t {
  font-size: 1.7rem;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 350px;
  height: 100%;
  background-color: #f9f8f8;
  overflow-y: auto;
  transition: 0.5s all ease-in-out;
  -webkit-transition: 0.5s all ease-in-out;
  -moz-transition: 0.5s all ease-in-out;
  -ms-transition: 0.5s all ease-in-out;
  -o-transition: 0.5s all ease-in-out;
  transform: translateX(110%);
  -webkit-transform: translateX(110%);
  -moz-transform: translateX(110%);
  -ms-transform: translateX(110%);
  -o-transform: translateX(110%);
}

.sidebar.open {
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
}

.sidebar-logo-contain {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  align-items: center;
}

.logo-sidebar {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.2px;
  visibility: hidden;
}

.toggle-sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 2rem;
  cursor: pointer;
}

.sidebar-list {
  display: flex;
  justify-content: start;
  align-items: start;
  list-style-type: none;
  padding: 2rem 1rem;
  flex-direction: column;
  gap: 0.5rem;
}

.sidebar-item {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  padding: 1rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  background-color: #eeeeee;
  -o-border-radius: 5px;
  cursor: pointer;
  gap: 2rem;
}

.s-i-l {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  color: #008cff;
}

.s-t-l {
  font-size: 1rem;
  font-weight: 500;
}

@media only screen and (max-width: 768px) {
  .nav-item {
    display: none;
  }
  .logo {
    font-size: 1.2rem;
  }
  .logo-sidebar {
    font-size: 1.2rem;
  }
  .nav-inner {
    padding: 1rem 1.5rem;
  }
  .logo-sidebar {
    visibility: visible;
  }
  .sidebar {
    width: 100%;
  }
  .sidebar-item {
    gap: 1rem;
  }
  .s-i-l {
    font-size: 1.5rem;
  }
  .s-t-l {
    font-size: 0.8rem;
  }
}/*# sourceMappingURL=Style.css.map */